<div class="container">
		<div class="f-bg-w3l">
		<div class="col-md-6 w3layouts_footer_grid">
					<h2>Contact <span>Information</span></h2>
					    <ul class="con_inner_text">
							<li><span class="fa fa-map-marker" aria-hidden="true"></span>582 Washington St. Canton <label> MA 02021 .</label></li>
							<li><span class="fa fa-envelope-o" aria-hidden="true"></span> <a href="mailto:info@indulgencethaispa.com">info@indulgencethaispa.com</a></li>
							<li><span class="fa fa-phone" aria-hidden="true"></span> 617-588-5888, 857-333-9623</li>
							
							<li><span class="fa fa-clock-o" aria-hidden="true"></span> Mon - Fri 10.00 am - 8 pm</li>
							<li><span class="fa fa-clock-o" aria-hidden="true"></span> Sat - Sun 10.00 am - 6 pm</li>
						</ul>

					<ul class="social_agileinfo">
						<li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://in.pinterest.com/" class="w3_pinterest"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="https://www.instagram.com/indulgencethaispa_/" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
				<div class="col-md-6 w3layouts_footer_grid">
					<h2>Subscribe <span>Newsletter</span></h2>
					<p>By subscribing to our mailing list you will always get latest news from us.</p>
					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Enter your email..." required="">
						<button class="btn1"><i class="fa fa-envelope-o" aria-hidden="true"></i></button>
						<div class="clearfix"> </div>
					</form>
				</div>
				<!-- <div class="col-md-4 w3layouts_footer_grid">
					<h3>Recent <span>Works</span></h3>
					  <ul class="con_inner_text midimg">
						<li><a href="#"><img src="images/p2.jpg" alt="" class="img-responsive" /></a></li>
					    <li><a href="#"><img src="images/p3.jpg" alt="" class="img-responsive" /></a></li>
						<li><a href="#"><img src="images/p4.jpg" alt="" class="img-responsive" /></a></li>
						<li><a href="#"><img src="images/p5.jpg" alt="" class="img-responsive" /></a></li>
						<li><a href="#"><img src="images/p6.jpg" alt="" class="img-responsive" /></a></li>
					    <li><a href="#"><img src="images/p7.jpg" alt="" class="img-responsive" /></a></li>
						 <li><a href="#"><img src="images/p8.jpg" alt="" class="img-responsive" /></a></li>
						<li><a href="#"><img src="images/p9.jpg" alt="" class="img-responsive" /></a></li>
				     </ul>
					
				</div> -->
				<div class="clearfix"> </div>
			</div>
			</div>
			<p class="copyright">© 2018 Indulgence. All Rights Reserved</p>